# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/CMakeFiles
vc19/.vs
*CMakeFiles*
*.vcxproj
*.sln
*.filters
vc19/CMakeCache.txt
*.cmake
*.user
vc19/extern/glfw/src/glfw.dir/Debug
vc19/src/Debug
vc19/src/NPendulum.dir
vc19/x64
vc19
